@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

.container{
  width: auto;
  height: 100vh;/*高さが画面の高さと同じになる*/
  display: flex;  
  flex-direction: row;  
  justify-content: space-evenly; 
  background-color:#B8A976;
  /* background-color:#a88934; */
}

.kakeziku{
  display: flex;
  flex-direction: column;  
  justify-content: center; 
}

.table{
  display: flex;
  flex-direction: column;  
  justify-content: space-around; 
}

/* 当選番号 */
#current-number{
  text-align:center;/* テキストを中央揃え*/
  line-height: 310px;/*当選番号を表示する位置*/
  margin:10px 0;/* 上下に10px 左右に0pxのマージン*/
  font-size:70px;
  font-weight:bold;
  font-family: 'Itim', cursive;
  height: 560px;
  width:185px; 
  background-image: url(../resorce/kakeziku.png);
  background-size: cover;
}

/* 開始ボタン */
#start-button{
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  display: block;
  height: 190px;
  width: 110px;
  background: transparent;
  border: 0px solid #FFF;
  padding: 0px;
  cursor: pointer;
}

/* 当選結果表示枠 */
#result{
  width:700px;
  margin:10px auto 10px;/* 上下に0px 左右にautoのマージン*/
}

/* 行のスタイル */
.row{
  display:flex;
  justify-content:space-evenly;/* 行の中の当選番号を均等に*/
  margin-bottom:0px;/* 行と行の間のマージン*/
}

/* 当選履歴番号 */
.column{
  width:60px;
  height:60px;
  border-radius:20px;/* 当選番号表示枠の丸み　*/
  text-align:center;
  margin:10px 10px 10px 10px;
  line-height:60px;
  background-color: #B8A976;
  font-size: 50px;
  font-weight: normal;
  font-family: 'Itim', cursive;
}

/* 当選番号のセル */
.column.hit{
  background-color: rgb(62, 62, 62);
  color:rgb(255, 255, 255)
}
